<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Document</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/custom.css'%}">
   
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">My Classroom</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link text-capitalize">name</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid p-5">
    <h2>Internal-marks</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">First_IA_marks</th>
        <th scope="col">Second_IA_marks</th>
        <th scope="col">Third_IA_marks</th>
        <th scope="col">Final_IA_marks</th>
      </tr>
    </thead>
    <tbody>
      {%for score in scores%}
    <tr>
      <th scope="row">{{score.course_id}}</th>
      <td>{{score.ia1}}</td>
      <td>{{score.ia2}}</td>
      <td>{{score.ia3}}</td>
      <td>{{score.final_ia}}</td>
    </tr>
   {%endfor%}
     
    </tbody>
  </table>
  </div>
 
 
</nav>
<div class="container-fluid p-5">
  <h2>Attendance</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Attendance_1</th>
      <th scope="col">Attendance_2</th>
      <th scope="col">Attendance_3</th>
      <th scope="col">Final_Attendance</th>
    </tr>
  </thead>
  <tbody>
    {%for att_per in att%}
    <tr>
      <th scope="row">{{att_per.course_id}}</th>
      <td>{{att_per.a1}}</td>
      <td>{{att_per.a2}}</td>
      <td>{{att_per.a3}}</td>
      <td>{{att_per.avg}}</td>
    </tr>
   {%endfor%}
   
  </tbody>
</table>
</div>




     
  
      

<!--bootstrap js files-->
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'%}"></script>


</body>
</html>
